@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-color: 252 252 253;
    --border-color: 196 196 196;
    --border-hover: 160 160 160;
    --border-focus: 153 153 153;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --bg-color: 29 30 32;
      --border-color: 97 101 107;
      --border-hover: 121 127 134;
      --border-focus: 148 152 158;
    }
  }
}

:root {
  /* --bg-color: #fcfcfd; */
  --font-color: #1a1d21;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --bg-color: #1d1e20; */
    --font-color: #e8eaed;
  }
}

*,
::before,
::after {
  border-color: rgb(var(--border-color));
}

body {
  background-color: rgb(var(--bg-color));
  color: var(--font-color);
  border-color: var(--font-color);
}
main {
  max-width: 48rem;
  margin: auto;
  padding: 2rem 1rem 3rem;
}
h1 {
  font-weight: 300;
  font-size: 2rem;
  margin: 0 0 1rem;
}

@media (max-width: 48rem) {
  main {
    padding: 2rem 1.5rem 3rem;
  }
}
@media (max-width: 40rem) {
  main {
    padding: 1rem 1rem 3rem;
  }
}

.text-shadow {
  text-shadow: 0 0 5px rgb(16 102 212 / 75%);
}

.chip {
  display: flex;
  overflow: hidden;
  padding: 0 0.75rem;
  margin: 0 0.5rem 0.5rem 0;
  font-size: 0.875rem;
  line-height: 1.5rem;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  border-width: 1px;
}
.chip-text {
  overflow: hidden;
  white-space: nowrap;
  flex: 1 1 auto;
  height: 1.5rem;
}
